language: generic
sudo: required
services:
- docker

env:
  global:
  - IMG_NAME="docker.io/mattsch/fedora-radarr"
  - VER="v0.2.0.1066"

script:
- 'docker login -u "$D_U" -p "$D_P"'
- 'docker build --build-arg upstream_tag=${VER} -t ${IMG_NAME}:${VER/v} -t ${IMG_NAME}:latest .'
- 'docker push ${IMG_NAME}:${VER/v}'
- 'docker push ${IMG_NAME}:latest'

if: branch = master
